body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.split-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-section {
  flex: 0.7; 
  background: linear-gradient(135deg, #ffffff, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

.bottom-section {
  flex: 0.3;
  background-color: #04034b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(210, 79%, 28%);
}

.header .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.header .icons span {
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}

.welcome-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: black;
}

.welcome-section p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: black;
}

.button-highlight {
  background-color: #000b70;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-highlight:hover {
  background-color: #090761;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f4f4f4;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease;
  padding: 1rem;
}

.sidebar.open {
  right: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header h5 {
  margin: 0;
  color: black;
}

.sidebar-header .close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
}

.sidebar ul {
  padding: 0;
}

.sidebar ul li {
  list-style: none;
  margin: 1rem 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: color 0.3s;
}

.sidebar ul li a:hover {
  color: #080349;
}
